<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Ghazalcode, Mobile Web Specialist, Freelancer">
    <link rel="stylesheet" type="text/css" href="../public/css/ionicons.min.css">
    <link href="../public/css/style.css" rel="stylesheet">
    <link href="../public/img/favicon.png" rel="shortcut icon" type="image/png">
    <title>Ghazalcode</title>
</head>
<body>
    <!--header section goes here-->
    <header>
        <div class="container">
            <img src="../public/img/logo-dark.png" alt="logo" class="logo">          
            <nav class="nav"> 
                <a href="#" class="toggleNav" data-toggle><span>&nbsp;</span>Menu</a>
                <ul>
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="index.html#project" class="nav-link">Project</a></li>
                    <li class="nav-item"><a href="index.html#blog" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
            </nav> 
        </div>       
    </header>
    <!--header section ends here-->
    <main class="mainsection">
        <!--hero section start here-->
        <section class="contact" id="contact">
            <div class="container">
                <h2>Contact me</h2>
                <p>
                    Hey, thinking of creating that amazing web application, hit me on <em>abdulraheemgasali@gmail.com</em>. Am available for your next project. 
                </p>
            </div>
        </section>
        
    </main>
    <footer class="footer" id="footer">
        <div class="container">
            <img src="../public/img/logo.png" class="img-retina">
            <div class="social-icons">
                <a href="#"><i class="ion ion-social-facebook icon-inline"></i></a>
                <a href="#"><i class="ion ion-social-twitter icon-inline"></i></a>
                <a href="#"><i class="ion ion-social-github icon-inline"></i></a>
            </div>
            <p>
                &copy; 2019 Ghazalcode. Made with <span><i class="ion ion-ios-heart icon-red"></i></span> by Ghazalcode
            </p>

        </div>
    </footer>
</body>
</html>