<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Ghazalcode, Mobile Web Specialist, Freelancer">
    <link rel="stylesheet" type="text/css" href="../public/css/ionicons.min.css">
    <link href="../public/css/style.css" rel="stylesheet">
    <link href="../public/css/queries.css" rel="stylesheet" media="">
    <link rel="apple-touch-icon" sizes="57x57" href="../public/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../public/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../public/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../public/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Ghazalcode</title>
</head>
<body>
    <!--header section goes here-->
    <header>
        <div class="container">
            <img src="../public/img/logo-dark.png" alt="logo" class="logo">          
            <nav class="nav"> 
                <a href="#" class="toggleNav" data-toggle><span>&nbsp;</span>Menu</a>
                <ul>
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#project" class="nav-link">Project</a></li>
                    <li class="nav-item"><a href="#blog" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
            </nav> 
        </div>       
    </header>
    <!--header section ends here-->
    <main class="mainsection">
        <!--hero section start here-->
        <section class="hero">
            <div class="hero-section__banner">
                <picture>
                    <source srcset="../public/img/poster-1x.png 1x, ../public/img/poster-2x.png 2x" alt="avatar" media="(max-width: 37.5em)">
                    <img src="../public/img/poster.png" alt="Ghazalcode image" class="img-responsive">
                </picture>
        
            </div>
            <div class="hero-section__content">
                <p>
                    Hi, I am Abdulraheem Gasali a <span class="special-text">Web Developer</span>, I love to simplify complex problems by deploying a solution to them using technology. I have been building amazing site using fully responsive design approach over 5+ years.  
                </p>
                <p>
                    Do you have a project idea? I can easily deploy a feasible product for all your amazing idea.
                </p>
                <a class="btn btn-secondary cta" href="#project">View Project</a>
                <a class="btn btn-primary cta" href="contact.html">Hire me</a>
            </div>
        </section>
        <!--hero section ends here-->
        <section class="features" id="features">
            <div class="container">
                <h2>Why Me </h2>
                <div class="card-box">
                    <div class="card">
                        <span class=""><i class="ion ion-waterdrop icon-lg"></i></span>
                        <h3>Responsive Site</h3>
                        <p>
                            Building a website is not enough but a website that look awesome across different devices and adapt to changes at anytime. 
                        </p>
                    </div>
                    <div class="card">
                        <span class=""><i class="ion ion-speedometer icon-lg"></i></span>
                        <h3>Fast page load</h3>
                        <p>
                            User experience really matters lately as users are looking upto an efficient way to maximize their data and access website within few seconds. 
                        </p>
                    </div>
                    <div class="card">
                        <span class=""><i class="ion ion-social-buffer icon-lg"></i></span>
                        <h3>Restful API</h3>
                        <p>
                            Application Programming Interface (API) is a cool way of building a software that is reuseable by following restful architectural principle. 
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="project-wrapper" id="project">
            <div class="container">
                <h2>Recent Project</h2>
                <div class="project-box">
                    <div class="project">
                        <div class="project-img__holder">
                            <img src="../public/img/project-1.png" alt="A-Z Agricultural Service Poster" class="img-retina">
                        </div>
                        <p>
                            A-Z Agricultural Service is a Agrotech company based in Nigeria which linked local farmer to government agencies, and prospective buyer.
                        </p>
                        <a href="#"><i class="ion ion-eye icon-small"></i></a>
                    </div>
                    <div class="project">
                        <div class="project-img__holder">
                            <img src="../public/img/project-2.png" alt="EMMS Poster" class="img-retina">
                        </div>
                        <p>
                            EMMS is a software that was specificaly designed for CBN staff to access their health state.
                        </p>
                        <a href="#"><i class="ion ion-eye icon-small"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog" id="blog">
            <div class="container">
                <h2>Latest from blog</h2>
                <div class="blog-box">
                    <div class="blog-post">
                        <img src="../public/img/poster-bg.jpg" alt="" class="bg-poster">
                        <div class="avatar">
                            <img class="author" src="../public/img/poster.png" alt="author">
                        </div>
                        <h3 class="post-title">Building a PWA</h3>
                        <p>
                            Progressive Web Application is a game change in history of web development today.
                        </p>
                        <a href="#" class="btn btn-inline">Read more <i class="ion ion-arrow-right-c icon-inline"></i></a>
                    </div>
                    <div class="blog-post">
                        <img src="../public/img/poster-bg.jpg" alt="" class="bg-poster">
                        <div class="avatar">
                            <img class="author" src="../public/img/poster.png" alt="author">
                        </div>
                        <h3 class="post-title">Writing a Restful API</h3>
                        <p>
                            Basically, API (Application Programmable Interface) is an awesome approach which gain publicity lately around the web ecosystem.
                        </p>
                        <a href="#" class="btn btn-inline">Read more <i class="ion ion-arrow-right-c icon-inline"></i></a>
                    </div>
                    <div class="blog-post">
                        <img src="../public/img/poster-bg.jpg" alt="" class="bg-poster">
                        <div class="avatar">
                            <img class="author" src="../public/img/poster.png" alt="author">
                        </div>
                        <h3 class="post-title">Configuring a webpack</h3>
                        <p>
                            Webpack is a lightweight application that bundle all javascript, stylesheet and html into a minified version.
                        </p>
                        <a href="#" class="btn btn-inline">Read more <i class="ion ion-arrow-right-c icon-inline"></i></a>
                    </div>
                </div>
            
            </div>
        </section>
    </main>
    <footer class="footer" id="footer">
        <div class="container">
            <img src="../public/img/logo.png" class="img-retina">
            <div class="social-icons">
                <a href="#"><i class="ion ion-social-facebook icon-inline"></i></a>
                <a href="#"><i class="ion ion-social-twitter icon-inline"></i></a>
                <a href="#"><i class="ion ion-social-github icon-inline"></i></a>
            </div>
            <p>
                &copy; 2019 Ghazalcode. Made with <span><i class="ion ion-ios-heart icon-red"></i></span> by Ghazalcode
            </p>

        </div>
    </footer>
    <script src="../public/js/app.js"></script>
</body>
</html>